---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";

// utils imports
import { formatBlogPosts } from '../../js/utils.js'

const allPosts = await Astro.glob("./*.md");
const formattedBlogPosts = formatBlogPosts(allPosts
// ,{
//   filterOutDrafts: false,
//   filterOutFuturePosts: false,
//   sortByDate: false,
//   limit: 2
// }
)
---

<MainLayout title="My Blog">
  <section class="container" aria-label="New Blog Posts">
    <h1 class="h1">New Blog Posts</h1>
    <div class="post-container">
      {
        // allPosts.map((post) => (
        formattedBlogPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>
</MainLayout>

<!-- <PostCard
  frontmatter={allPosts[0].frontmatter}
  url={allPosts[0].url} tagType='h2'
/> -->