---

---

<footer>
  <small>
    Copyright &copy; <span id="copyright"></span> || All rights reserved
  </small>
</footer>

<!-- CSJ Client Site JavaScript, VanillaJS -->
<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString()
</script>